.card {
    border-radius: 20px;
    margin-top: 70px;
    color: white;
    font-weight: 400;
    background-image: linear-gradient(rgb(3, 3, 38), rgba(16, 108, 221, 0.642));
}

.hai{
    font-weight: 200;
}

body {
    background-image: linear-gradient(rgb(7, 7, 72), rgb(148, 152, 244));
    height: 100vh;
    overflow: hidden;
}

.nama{
    background-color: white;
    border-radius: 20px;
    border: 1vh;
}

.akun{
    background-color: white;
    border-radius: 20px;
    border: 10px;
}

.iya{
    background-image: linear-gradient(rgb(17, 17, 247), rgb(124, 127, 212));
    font-weight: 500;
    border-radius: 20px;
}

.iya:hover{
    background-color: white;
    color: black;
}

.saya{
    padding-top : 50px;
}
